footer{
  background-color: rgba(0, 0, 0, .85);
  padding: 30px;
  margin: 15px;
}

h5{
  color: white;
}

.list {
  text-decoration: none;
  text-align: center;
}

/*
  * Extra utilities
*/

.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
