.card {
  border: none;
  height: 140px;
  width: 140px;
  position: relative;
  background-size: cover;
}

.card, .tavolocarte{
  cursor: pointer;
}

.nascosta {
  visibility: hidden;
  position: absolute;
}

.tavolocarte {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 200px 200px 200px 200px;
}

img { object-fit: cover; height: 140px; } 