img {
    width: auto;
    height: 300px;
}

#back{
    margin-left: 1%;
    margin-top: 1%;
}

#contenitoreMain{
    text-align: center;
}

#mostraRisultato{
    margin-left: 3%;
    margin-right: 3%;
}

input[type="radio"] {
    display: block;
    margin: 0 auto;
}

#controlla{
    margin-left: 1%;
}

#next{
    margin-left: 1%;
}

#rispostaCorretta {
    color: green;
}

h4 {
    text-align: center;
}