img {
  width: 50%;
  left:100%;
}

#back{
margin-left: 1%;
margin-top: 1%;
}

img {
width: auto;
height: 300px;
}

#next{
margin-bottom: 1%;
}

main {
text-align: center;
}

h3 {
font-style: bold;
color: rgb(229, 35, 21);
}

h4 {
font-style: italic;
}