h1{
    text-align: center;
}
img {
    width: 50%;
    left:100%;
}

input {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: white;
}

main {
    margin-left: 3%;
    margin-right: 3%;
}