img {
    width: auto;
    height: 300px;
}

label {
    text-align: right;
    margin-right: 0%;
}

#risposte{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
}

#back{
    margin-left: 1%;
    margin-top: 1%;
}

#contenitoreMain{
    text-align: center;
}

#mostraRisultato{
    margin-left: 3%;
    margin-right: 3%;
}

input[type="radio"] {
    display: block;
    margin: 0 auto;
    margin-left: 3%;
}

#controlla{
    margin-left: 1%;
    margin-bottom: 1%;
}

#next, #salvapunti, #termina{
    margin-left: 1%;
    margin-top: 1%;
}

#rispostaCorretta {
    color: green;
}

h4 {
    text-align: center;
}

.nascosta {
    visibility: hidden;
    position: absolute;
  }